
# Byte-compiled / optimized / DLL files
__pycache__/
path/
*.json
*.avro

# Distribution / packaging
.Python
.DS_Store
build/
.idea/
airflow/
logs/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
